<app-header />
<div class="home-container p-4">
  <div class="head-row d-flex justify-content-between align-items-center">
    <h2 class="maven-bold">Hey {{name}}</h2>
    <div class="actions d-flex gap-3">
      <p class="fw-bold" (click)="openChangePasswordDialog()">Change password</p>
      <p class="fw-bold" (click)="logout()">Sign out</p>
    </div>
  </div>
  <p class="mt-4">Pending feedbacks</p>
  <div class="pending-cards d-flex flex-wrap gap-3 mt-4">
    @for (feedback of pendingFeedbacks; track $index) {
    <app-form-card
      [title]="feedback.title"
      [description]="feedback.description || 'No description available.'"
      [creator]="feedback.createdBy"
    ></app-form-card>
    }

    @if (pendingFeedbacks.length === 0) {
    <p>No pending feedbacks available.</p>
    }

  </div>
  <p class="mt-5">Submitted feedbacks</p>
  <div class="submitted-cards d-flex flex-wrap gap-3 mt-4">

    @for (feedback of completedFeedbacks; track $index) {
    <app-form-card
      [title]="feedback.title"
      [description]="feedback.description || 'No description available.'"
      [creator]="feedback.createdBy"
    ></app-form-card>
    }

    @if (completedFeedbacks.length === 0) {
    <p>No pending feedbacks available.</p>
    }

    <!-- <app-form-card
      title="Team Collaboration Feedback"
      description="Reflect on the team's collaboration and communication during the last sprint."
      creator="Charlie Brown"
      route="/form/3"
    ></app-form-card>
    <app-form-card
      title="Client Feedback Summary"
      description="Summarize the feedback received from clients during the last quarter."
      creator="Diana Prince"
      route="/form/4"
    ></app-form-card> -->
</div>
